{% block _carte_form_quantity_row %}
    <div class="mb-3">
        <label class="form-label">Quantity</label>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
